{% schema %}
{
  "name": "Home Slider",
  "blocks": [
    {
      "type": "slick_slider_block",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "label": "Image",
          "id": "image",
          "info": "Upload the slide image."
        }
      ],
      "limit": 6
    },
    {
      "type": "text_block",
      "name": "Text Block",
      "settings": [
        {
          "type": "text",
          "label": "Text",
          "id": "text",
          "info": "Enter the slide text."
        }
      ],
      "limit": 6
    }
  ],
  "presets": [
    {
      "name": "Slick Slider Section",
      "category": "Custom"
    }
  ]
}
{% endschema %}




{% stylesheet %}
  .slick-slider-container {
    max-width: 600px; /* Adjust as needed */
    
    margin: 0 auto; /* Center the slider */
  }
  
  .slick-slider-container .single-item {
    width: 600px; /* Make sure the images fill the slider container */
    height: auto%; /* Maintain aspect ratio */
    padding: 10px;
  }
{% endstylesheet %}



{% javascript %}
  $(document).ready(function(){
    $('.single-item').slick({
      autoplay: true,
      autoplaySpeed: 2000,
      arrows: true, 
      dots: true,
    });
  });
{% endjavascript %}



<div class="slick-slider-container">
  <div class="single-item">
    {% for block in section.blocks %}
      {% if block.type == 'slick_slider_block' %}
        {% if block.settings.image != blank %}
          <div class="slide">
            <img src="{{ block.settings.image | img_url: '800x400' }}" alt="Slide" style="height:450px;">
            {% for text_block in section.blocks %}
              {% if text_block.type == 'text_block' and text_block.index == block.index %}
                <p>{{ text_block.settings.text }}</p>
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
</div>

